<div class="register-container">
    <div [@registerDiv]="animationState" class="register-card-left">
        <span class="frontend-test">Register</span>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Your first name" formControlName="firstName">
                    <mat-error
                        *ngIf="submitted && registerForm.controls.firstName.errors && registerForm.controls.firstName.errors.required">
                        First Name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Your last name" formControlName="lastName">
                </mat-form-field>
            </div>
            <div class="input-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Email ID</mat-label>
                    <input matInput placeholder="Ex. abc@xyz.com" formControlName="emailId">
                    <mat-error
                        *ngIf="submitted && registerForm.controls.emailId.errors && registerForm.controls.emailId.errors.required">
                        Email ID is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="input-fileds">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error
                        *ngIf="submitted && registerForm.controls.password.errors && registerForm.controls.password.errors.required">
                        Password is required
                    </mat-error>
                    <mat-error
                        *ngIf="submitted && registerForm.controls.password.errors && registerForm.controls.password.errors.minlength">
                        Password must be at least 6 characters
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="actions">
                <button mat-flat-button color="primary" class="submit-button"
                    [disabled]="registerForm.controls.emailId.errors || registerForm.controls.password.errors">
                    Register
                </button>
                <a mat-stroked-button (click)="routeTo('/login')" class="submit-button btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>