.toolbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.toolbar-actions {
    display: flex;
}

.toolbar-header {
    align-self: center;
    padding-left: 4px;
}

.vm-logo {
    width: 144px;
    align-self: center;
    padding-left: 4px;
}

.mat-toolbar-container {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
    background: #FFFFFF;
    height: 96px
}

.greetings-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    height: 208px;
    padding: 48px;
    width: 464px;
    margin: 48px;
}

.userslist-card {
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    height: 208px;
    padding: 48px;
    width: 100%;
    margin: 48px 48px 48px 0px;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.greeting1 {
    font-size: 48px;
}

.greeting2 {
    font-size: 20px;
}

.home-container {
    height: 100vh;
    background-image: url('src/assets/discovery_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.userslist {
    width: 60%;
}
