<div class="home-container">
    <mat-toolbar class="mat-toolbar-container">
        <div class="toolbar-container">
            <img src="assets/vm-logo.png" class="vm-logo" />
            <div class="toolbar-actions">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="View source code in GitHub">
                    <mat-icon matTooltip="View source in GitHub" (click)="openGitHub()">code</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Logout">
                    <mat-icon matTooltip="Logout" (click)="logout()">exit_to_app</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div class="content-container">
        <div class="greetings-card">
            <span class="greeting1">Hi {{currentUser.firstName}}!</span>
            <span class="greeting2">You have successfully logged in!!</span>
        </div>
        <div class="userslist-card">
            <h3>List of all users:</h3>
            <mat-list class="userslist">
                <mat-list-item *ngFor="let user of users">
                    <h3 matLine> {{user.emailId}} ({{user.firstName}} {{user.lastName}}) </h3>
                    <button (click)="deleteUser(user.id)">
                        <mat-icon matListIcon>delete_outline</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>