<div class="login-container">
    <div [@loginDiv]="animationState" class="login-card-left">
        <img src="assets/vm-logo.png" class="vm-logo" />
        <div class="login-components">
            <span class="welcome-to">Welcome to</span>
            <span class="frontend-test">VMware frontend test</span>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input-fields">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email ID</mat-label>
                        <input matInput placeholder="Ex. abc@xyz.com" formControlName="emailId">
                        <mat-error
                            *ngIf="submitted && loginForm.controls.emailId.errors && loginForm.controls.emailId.errors.required">
                            Email ID is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="input-fileds">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error
                            *ngIf="submitted && loginForm.controls.password.errors && loginForm.controls.password.errors.required">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="actions">
                    <button mat-flat-button color="primary" class="example-full-width"
                        [disabled]="loginForm.controls.emailId.errors || loginForm.controls.password.errors">
                        Login
                    </button>
                    <hr class="horizontal-line">
                    <span>Don't have an account?<a mat-flat-button (click)="routeTo('/register')"
                            class="btn-link">Register
                            now</a></span>
                </div>
            </form>
        </div>
    </div>
</div>